@import '../App/variables';

.post-item {
  display: flex;
  padding: 1rem;
  background: $cl-white;

  + .post-item {
    margin-top: .8rem;
  }
}

.post-item__content {
  margin-right: 1rem;
}

.post-item__header {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}

.post-item__logo {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: .6rem;
}

.post-item__website {
  font-size: 1.2rem;
  font-weight: 500;
}

.post-item__title {
  margin: 0;;
  margin-bottom: .8rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.15;
}

.post-item__description {
  font-size: 1.2rem;
  line-height: 1.4;

  p {
    margin: 0;
  }
}

.post-item__meta {
  display: flex;
  align-items: center;
  margin-top: .8rem;
}

.post-item__date {
  font-size: 1.2rem;
  opacity: .6;
}

.post-item__thumbnail {
  flex-shrink: 0;
  width: 10rem;
  height: 10rem;
  margin-left: auto;
  border-radius: .4rem;
  background-color: $cl-background;
}
