@import './components/App/variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $cl-background;
  // Disable pull-to-refresh on Android
  overscroll-behavior: contain;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
