@import './components/App/variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $cl-background;
  // Disable pull-to-refresh on Android
  overscroll-behavior: contain;

  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
